.cardDisplay {
    position: relative;
    width: 125px;
    height:150px;
    z-index: 2;
}

.cardBackStart {
    position: relative;
    width: 125px;
    height:150px;
    z-index: 3;
}

.cardBackFlipped {
    position: absolute;
    width: 125px;
    height:150px;
    z-index: 1;
}