
.cardDisplay, .cardDisplayShowing, .cardBackStart, .cardBackFlipped, .card {
    width: 175px;
    height: 200px;
}

div.fruits .cardDisplay {
    position: relative;
    z-index: -2;
}

div.fruits .cardDisplayShowing {
    position: relative;
    z-index: 2;
}

div.fruits .cardBackStart {
    position: absolute;
    z-index: 1;
}

div.fruits .cardBackFlipped {
    position: absolute;
    z-index: -1;
}

.timerStyle {
    border: 1px solid darkgrey;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: .5px 1px 2px grey;
    box-sizing: border-box;
}

.rightalign {
   float: right;
}

